.App {
  text-align: center;
  color: #ffffff;
}

.container {
  height: 50vh;
  width: 80vw;
  background-color: #424242;
  border-radius: 16px;
  margin: 0 auto;
  margin-top: 10vh;
  overflow: hidden;
  perspective: 1px;
  display: flex;
  flex-direction: column;
}

.translation-boxes {
  flex-grow: 1;
  display: flex;
}

.translation-boxes div {
  flex: 1;
}

.translation-boxes div:nth-child(2) {
  background-color: #757575;
}
